# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio folders
ipch
Release
Debug
WrappersCppFromCS/LAMP/bin
WrappersCppFromCS/LAMP/obj
WrappersCppFromCS/MathFuncDll/Release
WrappersCppFromCS/MathFuncDll/Debug
WrappersCppFromCS/MathFuncs/bin
WrappersCppFromCS/MathFuncs/obj
WrappersCppFromCS/MyClassCpp/Release
WrappersCppFromCS/MyClassCpp/Debug
WrappersCppFromCS/MyClassCppDLL/Release
WrappersCppFromCS/MyClassCppDLL/Debug
WrappersCppFromCS/MathFuncs/bin
WrappersCppFromCS/MathFuncs/obj

# Visual Studio files
*.sdf