# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio folders
ipch
Release
Debug
LAMP/bin
LAMP/obj
MathFuncDll/Release
MathFuncDll/Debug
MathFuncs/bin
MathFuncs/obj

# Visual Studio files
*.sdf